.header {
  grid-area: 1/1/1/7;
    width: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
  }
  
  .headerBanner {
    all: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
  }
  
  .serchBarAndFillters {
    width: 40%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #FFF;
    border-radius: 10px;
  }
  
  .serchBar {
    width: 80%;
    height: 24px;
    border-style: none;
    outline: none;

  }
  
  .serchIcon {
    width: 24px;
    height: 24px;
  }
  
 
  .iconAndBar {
    width: 85%;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10%;
  }
  
  .notices {
    width: 15%;
    height: 45px;
    display: flex;
    justify-content: space-between;
   
  }
  .profilePicture {
    border-radius: 10px;
    width: 45px;
    height: 45px;
  }